@charset 'utf-8';
.first-page,
.second-page,
.third-page,
.fourth-page{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: white;
	background-image: url('../image/bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

p{
	font-size: 16px;
	font-weight: bold;
}

.first-page .first-page-message{
	display: flex;
	align-items: center;
	justify-content: center;
}

.first-page .first-page-message > div > .myself{
	width: 101px;
	height: 150px;
	border: 5px solid #d9ffff;
	border-radius: 5px;
}

.first-page .first-page-message > div > .code{
	width: 140px;
	height: 140px;
}

.first-page .first-page-message > div > img{
	margin-bottom: 30px;
}

.second-page > div > p,
.third-page > div > p,
.fourth-page > div > p{
	font-size: 20px;
}

.second-page img,
.third-page img,
.fourth-page img{
	border-radius: 5px;
}

.fourth-page a{
	display: none;
	text-decoration: none;
	font-size: 20px;
	color: white;
}

.fourth-page a:hover{
	color: red;
	font-weight: bold;
}

#menu{ 
	position: fixed;
	top: 50%; 
	transform: translateY(-50%);
}  

#menu.right{ 
	right: 10px;
}  

#menu ul{
	list-style-type: none;
}

#menu ul li{ 
	width: 30px; 
	height: 30px; 
	background-image: url('../image/anchor-down.png'); 
	background-size: 100%;
	margin:10px; 
	border-radius: 10px;
}  

#menu ul li a{ 
	display: block;
	width: 100%;
	height: 100%;
	}

#menu ul li.active{ 
	background-image: url('../image/anchor-light.png');
	background-size: 100%;
}

.animation-first,
.animation-second,
.animation-third,
.animation-fourth{
	opacity: 0;
}

.animation-fourth.bord{
	color: black;
	background-color: white;
	border: 1px solid white;
	border-radius: 5px;
}

.section.sectionani .animation-first,
.section.sectionani .animation-second,
.section.sectionani .animation-third,
.section.sectionani .animation-fourth{
	animation-name: opacityanima;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-fill-mode: both;
}

.section.sectionani .animation-second{
	animation-delay: 0.5s;
}

.section.sectionani .animation-third{
	animation-delay: 1s;
}

.section.sectionani .animation-fourth{
	animation-delay: 1.5s;
}

@keyframes opacityanima{
	0%{
		opacity: 0;
	}

	100%{
		opacity: 1;
	}
}



