@charset "utf-8";

body{
	background-image: url('../image/bg.jpg');
	background-repeat: no-repeat;
	overflow-x: hidden;
	overflow-y: hidden;
}

/*上外边距*/
.martop{
	margin-top: 10%;
}

/*正文字体*/
p{
	font-size: 2em;
	padding-top: 10px;
}

button:link{
	border: none;
}




