@charset "utf-8";

body{
	background-color: #FF9224;
	background: linear-gradient(to right, #FF1235, #FF9224);
	overflow-x: hidden;
	overflow-y: hidden;
}

/*上外边距*/
.martop{
	margin-top: 10%;
}

/*正文字体*/
p{
	font-size: 2em;
	padding-top: 10px;
}

