@charset 'utf-8';
/*头部*/
.header .logo{
	display: flex;
	align-items: center;
	justify-content: center;
}

.header .logo img{
	width: 48px;
	height: 48px;
}

.header .logo span{
	font-size: 30px;
	padding-left: 10px;
}

/*脚部*/
.footer{
	text-align: center;
}
